body{
    background-color: white !important;
}

.header-collares{
    max-width: 960px;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

@media screen and (max-width: 780px){
    .header-collares{
        margin: 0 auto;
    }
    .text-header-collares h1{
        font-size: 1.5em;
    }

}

@media screen and (max-width: 430px) {
    .text-header-collares h1{
        font-size: .7em;
    }
    .gallery {
        grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
        grid-template-rows: repeat(25, 2vw);
        gap: 6px;
    }
}

.text-header-collares h1{
    margin-left: 1em;
}

.text-header-collares{
    color: white;
    text-shadow: 2px 2px 6px #000;
    font-size: 2.5em;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/collares-html/collares-header_Easy-Resize.com.jpg) center/cover no-repeat;
    height: 250px;
    display: flex;
    justify-content:left;
    align-items: center;
}

.section-container{
    display: grid;
    margin: 2em 0;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.gallery {
    position: relative;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(25, 2vw);
    gap: 6px 12px;
}

.gallery h6{
    color: gray;
    font-size: .6em;
    padding: 0;
    margin: 0;
    align-items: baseline;
    text-align: center;
}
.gallery h2{
    font-size: 1.2em;
    padding: .2em;
    margin: .3em;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.normal-price{
    color: red;
    text-decoration-line:line-through;
}

.new-item{
    position: absolute;
    top:-20%;
    right: 10%;
    width: 40px;
    height: 40px;
    padding: .3em;
    justify-self: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

/*--------------Gallery-----Itens-------------*/

.btn-access{
    grid-column: 2/4;
    justify-content: center;
    text-align: center;
}
.btn-access li{
    background-color: #e4b8b8;
    opacity: 0.5;
    list-style: none;
    display: inline;
    padding: 1px 5px;
    border-radius: 5px;
}

.btn-access a{
    text-decoration: none;
    color: #333;
}
/* .page-links-grid{
    position: relative;
    width:100%;
    display: grid;
    grid-template-columns: 35% 15% 15% 35%;
    grid-template-rows: 20px;
}
.page-links a{
    padding: 0;
}
.arrow {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
    position: relative;
    left: 60%;
    top: 20%;
}

.page-links{
    background-color: #e4b8b8;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

.page-links-now a{
    padding: 0;
}
.page-links-now{
    display: flex;
    justify-content: center;
    background-color: #e4b8b8;
    grid-column: 3/4;
    grid-row: 1/2
} */

/*--------------first------row----------------*/
.item-1 {
    position: relative;
    grid-column: 3/5;
    grid-row:3/8;
}
.item1-desc{
    grid-column: 3/5;
    grid-row: 8/9;
    align-self: end;
    justify-self: center;
}

.item1-price{
    grid-column: 3/5;
    grid-row: 9/10;
    align-self: start;
    justify-self: center;
}

.item-2 {
    position: relative;
    grid-column: 5/7;
    grid-row:3/8;
}
.item2-desc{
    grid-column: 5/7;
    grid-row: 8/9;
    align-self: end;
    justify-self: center;
}

.item2-price{
    grid-column: 5/7;
    grid-row: 9/10;
    align-self: start;
    justify-self: center;
}

.item-3 {
    position: relative;
    grid-column: 7/9;
    grid-row:3/8;
}
.item3-desc{
    grid-column: 7/9;
    grid-row: 8/9;
    align-self: end;
    justify-self: center;
}

.item3-price{
    grid-column: 7/9;
    grid-row: 9/10;
    align-self: start;
    justify-self: center;
}

.item-4 {
    position: relative;
    grid-column: 9/11;
    grid-row:3/8;
}
.item4-desc{
    grid-column: 9/11;
    grid-row: 8/9;
    align-self: end;
    justify-self: center;
}

.item4-price{
    grid-column: 9/11;
    grid-row: 9/10;
    align-self: start;
    justify-self: center;
}
/*----------------------------second---row------*/
.item-5 {
    position: relative;
    grid-column: 3/5;
    grid-row: 13/18;
}
.item5-desc{
    grid-column: 3/5;
    grid-row: 19/20;
    align-self: end;
    justify-self: center;
}

.item5-price{
    grid-column: 3/5;
    grid-row: 21/22;
    align-self: start;
    justify-self: center;
}

.item-6 {
    grid-column: 5/7;
    grid-row: 13/18;
}
.item6-desc{
    grid-column: 5/7;
    grid-row: 19/20;
    align-self: end;
    justify-self: center;
}

.item6-price{
    grid-column: 5/7;
    grid-row: 21/22;
    align-self: start;
    justify-self: center;
}

.item-7 {
    position: relative;
    grid-column: 7/9;
    grid-row: 13/18;
}
.item7-desc{
    grid-column: 7/9;
    grid-row: 19/20;
    align-self: end;
    justify-self: center;
}

.item7-price{
    grid-column: 7/9;
    grid-row: 21/22;
    align-self: start;
    justify-self: center;
}

.item-8 {
    position: relative;
    grid-column: 9/11;
    grid-row: 13/18;
}
.item8-desc{
    grid-column: 9/11;
    grid-row: 19/20;
    align-self: end;
    justify-self: center;
}

.item8-price{
    grid-column: 9/11;
    grid-row: 21/22;
    align-self: start;
    justify-self: center;
}
/*-----------------------------third------row-------*/

.item-9 {
    grid-column: 3/5;
    grid-row: 25/30;
}
.item9-desc{
    grid-column: 3/5;
    grid-row: 31/32;
    align-self: end;
    justify-self: center;
}

.item9-price{
    grid-column: 3/5;
    grid-row: 33/34;
    align-self: start;
    justify-self: center;
}

.item-10 {
    grid-column: 5/7;
    grid-row: 25/30;
}
.item10-desc{
    grid-column: 5/7;
    grid-row: 31/32;
    align-self: end;
    justify-self: center;
}

.item10-price{
    grid-column: 5/7;
    grid-row: 33/34;
    align-self: start;
    justify-self: center;
}

.item-11 {
    grid-column: 7/9;
    grid-row: 25/30;
}
.item11-desc{
    grid-column: 7/9;
    grid-row: 31/32;
    align-self: end;
    justify-self: center;
}

.item11-price{
    grid-column: 7/9;
    grid-row: 33/34;
    align-self: start;
    justify-self: center;
}

.item-12 {
    grid-column: 9/11;
    grid-row: 25/30;
}
.item12-desc{
    grid-column: 9/11;
    grid-row: 31/32;
    align-self: end;
    justify-self: center;
}

.item12-price{
    grid-column: 9/11;
    grid-row: 33/34;
    align-self: start;
    justify-self: center;
}

.footer-cat{
    margin-top: 4em;
}