body{
    font-family: 'Playfair Display', serif;
    max-width: 960px;
    background-color: #e0e0e0;
    margin: 0 auto;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

/* nav a{
    padding: 0;
} */
.menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color:rgba(228, 184, 184, 0.8);
}

.menu li {
    font-size: 1.5em;
    padding: 10px 5px;
    white-space: nowrap;
}

.menu a{
    color: white;
    text-decoration: none;
}

.logo{
    margin: auto;
}

.logo img{
    width: 50px;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    /* display: none; */
}

.menu a:hover{
    color: #bb943f;
    text-decoration: none;
}

#logo{
    width: 50px;
}

#img_header{
    min-width: 400px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.sales{
    background-color: #e4b8b8;
    color: white;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
}

section{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*-------------------------------------*/
h3, h4{
    font-size: 1.2em;
    margin: 0;
    text-shadow: 2px 2px 6px #000;
}

h3{
    font-size: 2em;
    margin: 0;
    padding: 1em;
    text-align: center;
}

section a{
    padding: 8.3em 6.2em;
    text-decoration: none;
    color: white;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 960px;
    object-fit: cover;
}

.row div{
    margin: 12px;
}

.banner-text1{
    position: absolute;
}

.more-letters{
    padding: 44% 50%;
}

.banner-top-vendas{
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/top-vendas_Easy-Resize.com.jpg) top left/cover no-repeat;
    background-position: 50%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-new-in {
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/New-in_Easy-Resize.com.jpg) top left/cover no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-piendentes {
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/piendentes_Easy-Resize.com.jpg) top left/cover no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-piendentes-sueltos{
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/piendentes-sueltos_Easy-Resize.com.jpg) top left/cover no-repeat;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-piendentes-sueltos a{
    padding: 7em 5em;
}

.banner-collares {
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/collares_Easy-Resize.com.jpg) top left/cover no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-collares a{
    padding:8.4em 7.8em ;
}

.banner-anillos{
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/anillos_Easy-Resize.com.jpg) top left/cover no-repeat;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-anillos a{
    padding:8.4em 8.5em ;
}

.banner-diamantes-celine{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/diamnates-celine_Easy-Resize.com.jpg) top left/cover no-repeat;
    color: white;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-diamantes-celine a{
    padding: 7em 6.3em ;
}

.banner-pulseras{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/pulseras_Easy-Resize.com.jpg) top left/cover no-repeat;
    color: white;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-pulseras a{
    padding: 8.4em 7.8em ;
}

.banner-joyas-personalizable{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/joyas-personalizadas_Easy-Resize.com.jpg) top left/cover no-repeat;
    color: white;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-joyas-personalizable a{
    padding: 7.2em  3.8em;
}

.banner-relojes{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/relojes_Easy-Resize.com.jpg) top left/cover no-repeat;
    color: white;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-relojes a{
    padding: 8.5em 8.3em;
}

.banner-tiendas{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/tiendas_Easy-Resize.com.jpg) top left/cover no-repeat;
    color: white;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-tiendas a{
    padding: 8.5em 7.9em;
}

.banner-shop-to-look{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(assets/shop-the-look_Easy-Resize.com.jpg) top left/cover no-repeat;
    color: white;
    background-position: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-shop-to-look a{
    padding: 7.1em 6.2em;
}

/*-------------------------------------*/
@media all and (min-width: 900px) {
    .logo {
        position: static;
        margin: 0;
        order: 0;
    }
    .item {
        width: auto;
        justify-content: center;
        align-self:center;
        order: 1;
    }
    .menu{
        justify-content: space-around;
        margin: 0 auto;
        height: 50px;
        flex-wrap: nowrap;
    }
    .menu li{
        font-size: 1.2em;
        padding: 0;
    }
}

@media screen and (max-width: 960px){
    body{
        margin:0 auto;
    }
    .row{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 430px) {
    body{
        max-width: 430px;
        width: fit-content;
    }
    .row{
        grid-template-columns: repeat(1, 430px);
    }
    .sales{
        flex-wrap: wrap;
        height: 180px;
        width: 400px;
    }
    .row a{
        min-width: 430px;
    }
    #img-header{
        min-width: max-content;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
}

footer{
    display: flex;
}

.footer{
    justify-content: space-evenly;
    margin-top: 25px;
}

footer .list{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
}

footer .list li{
    font-weight: normal;
    list-style: none;
    text-align: left;
}
footer .list a{
    color: grey;
    text-decoration: none;
}
footer .list a:hover{
    text-decoration: underline;
}
.brand{
    flex-wrap: wrap;
    width: 25%;
}

.brand ul li img{
    max-width: 100px;
    width: 100%;
}
