body{
    font-family: 'Playfair Display', serif;
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

/*menubar*/
.menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color:rgba(228, 184, 184, 0.8);
}

.menu li {
    font-size: 1.5em;
    padding: 10px 5px;
    white-space: nowrap;
}

.menu a{
    color: white;
    text-decoration: none;
}

.logo{
    margin: auto;
}

.logo img{
    width: 50px;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    /* display: none; */
}

.menu a:hover{
    color: #bb943f;
    text-decoration: none;
}

#logo{
    width: 50px;
}
/*footer*/
.footer{
    justify-content: space-evenly;
    margin-top: 25px;
}

footer .list{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
}
ul :first-child{
    margin-top: 15px;
}

footer .list li{
    font-weight: normal;
    list-style: none;
    text-align: left;
}
footer .list a{
    color: grey;
    text-decoration: none;
}
footer .list a:hover{
    text-decoration: underline;
}
.brand{
    flex-wrap: wrap;
    width: 25%;
}

#confianza-online{
    width: 150px;
}



/*Grid configuration*/
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 2%;
}

.grid-right{
    grid-column: 3/5;
    justify-content: center;
}
.grid-left{
    grid-column: 1/3;
}
.grid-center{
    grid-column: 1/5;
    justify-content: center;
}
/*header*/
.header{
    width: 100%;
    border-top: 1px solid #bb943f;
    border-bottom: 1px solid #bb943f;
    text-align: center;
}


/* Right column*/
.price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-items: center;
    margin-left: 10%;
}
.crossout{
    color: grey;
    text-decoration:line-through;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.text-red{
    color: #bb1e1e;
}
.send{
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
}
.btn-shop{
    background-color: #e4b8b8;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 100%;
    color: white;
    font-weight: bold;
    box-shadow: 1px 5px 10px #8f8f8f;
}
.handmade{
    text-align: center;
    filter: grayscale(100%);
    margin-top: 5%;
    margin-bottom: 5%;
}
.handmade img{
    width: 50px;
    height: 50px;
}

.detail{
    text-align: center;
    border-bottom: 1px solid #bb943f;
}
.detail summary{
    margin-bottom: 2%;
    list-style:none ;
    margin: 0;
    padding: 2% 0 2% 7%;
    list-style: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1417/1417434.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3%;
}
.detail p{
    text-transform: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.miniature{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 2%;
    padding: 1%;
}
.miniature:hover{
    opacity: 0.8;
    background-color:#e4b8b8;
}

.margin{
    padding-left: 5%;
    padding-top: 1%;
}

.uppercase{
    text-transform: uppercase;
}
.recomended{
    font-weight: bold;
    text-align: center;
}
/*Left column*/
/*Carousel*/
@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
    scroll-snap-align: none;
    }
    99% {
    scroll-snap-align: none;
    }
    100% {
    scroll-snap-align: center;
    }
}

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

  *::-webkit-scrollbar {
    width: 0;
}

  *::-webkit-scrollbar-track {
    background: transparent;
}

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

  * {
    -ms-overflow-style: none;
}

.carousel ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 100%;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: white;
    counter-increment: item;
}


.img-principal{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -120px;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

/*Bottom Grid*/
.preduct{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
#fixed-margin{
    margin-top: 2.33em;
}