body{
    font-family: 'Playfair Display', serif;
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

/*menubar*/
.container{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
}
.nav-header{
    align-items: center;
    justify-content: space-around;
    height: 50px;
    overflow: hidden;
    text-transform: uppercase;
}
.nav-header a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    align-self: center;
}
.nav-header a:hover{
    color: #bb943f;
    text-decoration: none;
}
#logo{
    width: 50px;
}
/*footer*/
.footer{
    justify-content: space-evenly;
    margin-top: 25px;
}

footer .list{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
}
ul :first-child{
    margin-top: 15px;
}

footer .list li{
    font-weight: normal;
    list-style: none;
    text-align: left;
}
footer .list a{
    color: grey;
    text-decoration: none;
}
footer .list a:hover{
    text-decoration: underline;
}
.brand{
    flex-wrap: wrap;
    width: 25%;
}

#confianza-online{
    width: 150px;
}



/*Grid configuration*/
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}


.grid-right{
    grid-column: 3/5;
    justify-content: center;
    background-color: violet;
}
.grid-left{
    grid-column: 1/3;
    background-color: teal;
}
.grid-center{
    grid-column: 1/5;
    background-color: yellowgreen;
}
/*header*/
.header{
    width: 100%;
    border: 1px solid #8f8f8f;
    text-align: center;
}

.btn-access{
    grid-column: 1/5;
    justify-content: center;
    text-align: center;
}
.btn-access li{
    background-color: #e4b8b8;
    opacity: 0.5;
    list-style: none;
    display: inline;
    padding: 1px 5px;
}

.flecha {
    position: relative;
    height: 20px;
    width: 80px;
    border: solid 1px #e4b8b8;
    border-right: none;
    background: #e4b8b8 ;
}

.flecha:after {
    position: absolute;
    top: 3.5px;
    right: -6px;
    width: 12px;
    height: 16px;
    border-left: solid 1px #e4b8b8;
    border-top: solid 1px #e4b8b8;
    transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
    background: #e4b8b8;
    content: '';
  }

/*Left column*/
.galery{
    width: 500px;
    height: 100px;
}
.img-principal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right column*/
.price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-items: center;
    margin-left: 10%;
}
.crossout{
    color: grey;
    text-decoration:line-through;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.text-red{
    color: #bb1e1e;
}
.send{
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
}
.btn-shop{
    background-color: #e4b8b8;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 100%;
    color: #e0e0e0;
    font-weight: bold;
    box-shadow: 1px 5px 10px #8f8f8f;
}
.handmade{
    justify-content: center;
}
.handmade img{
    width: 50px;
    height: 50px;
}

.detail{
    text-align: center;
    border-bottom: 2px solid #8f8f8f;
}

.miniature{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 2%;
}
.acabados{
    padding-left: 5%;
    padding-top: 1%;
}

.uppercase{
    text-transform: uppercase;
}
.recomended{
    font-weight: bold;
    text-align: center;
}

/*Galery Slider*/

/*.slide-img{
    width:400px ;
    height: 400px;
    object-fit: cover;
}
.slider{
    display: flex;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}
ul.slider {
    position:relative;
}
ul.slider li {
    opacity: 0;
    transition: opacity .5s;
    position: relative;
}
ul.slider li:first-child {
    opacity: 1;
}
ul.slider li:target {
    opacity: 1;
}
ul.slider li {
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    transition: opacity .5s;
}
#slide1 {
    background-color: #bb943f;
}
#slide2 {
    background-color: #bb943f;
}
#slide3 {
    background-color: #bb943f;
}
#slide4 {
    background-color: #bb943f;
}
#galery ul {
    display: flex;
    background: #f1f2f3;
    justify-content: space-around;
    flex-wrap: wrap;
}
#galery ul li {
    align-content: center;
}

#galery a:hover {
    opacity: 0.5;
}
#galery a:active {
    
} */